@media (min-width:0) and (max-width: 447px){
    .add{
        width: 250px;
        margin-top: 0;
        margin-left: 120px;
        position: relative;
        left: 100px;
    }
    .add2{
        width: 250px;
        margin-top: 530px;
        position: relative;
        left: -200px;
    }
    .add3{
        width: 250px;
        margin-top: 1050px;
        position: relative;
        left: -500px;
    }
    .add4{
        width: 250px;
        margin-top: 1560px;
        position: relative;
        left: -800px;
    }
    .add5{
        width: 250px;
        margin-top: 2110px;
        position: relative;
        left: -1100px;
    }
}
.none{
    margin-left: 200px;
}
.border{
    margin-left: 200px;
    width: 190px;
    background-color: red;
}
.border2{
    width: 1280px;
    height: 4px; 
    background-color: gray;
    margin-left: 190px;
}
@media (min-width:0) and (max-width: 447px){
    .add{
        width: 250px;
        margin-top: 0;
        margin-left: 120px;
        position: relative;
        left: 100px;
    }
    .add2{
        width: 250px;
        margin-top: 530px;
        position: relative;
        left: -200px;
    }
    .add3{
        width: 250px;
        margin-top: 1050px;
        position: relative;
        left: -500px;
    }
    .add4{
        width: 250px;
        margin-top: 1560px;
        position: relative;
        left: -800px;
    }
    .add5{
        width: 250px;
        margin-top: 2110px;
        position: relative;
        left: -1100px;
    }
}
@media (min-width:448) and (max-width: 789px){
    .add{
        width: 250px;
        margin-top: 0;
        margin-left: 120px;
    }
    .add2{
        width: 250px;
        margin-top: 0px;
    }
    .add3{
        width: 250px;
        margin-top: 50px;
    }
    .add4{
        width: 250px;
        margin-top: 1560px;
    }
    .add5{
        width: 250px;
        margin-top: 2110px;
    }
}
.none{
    margin-left: 200px;
}
.border{
    margin-left: 200px;
    width: 190px;
    background-color: red;
}
.border2{
    width: 1280px;
    height: 4px; 
    background-color: gray;
    margin-left: 190px;
}


.qwerty{
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
}
.d2{
    font-size: 40px;
}
.rasm{
    border: 0.5px solid grey;
    width: 250px;
    height: 250px;
    margin-left: 0px;
}
.add{
    width: 250px;
    height: 500px;
    margin-left: 50px;
    border: 1px solid grey;
}
.narx{
    display: flex;
    text-align: center;
}
.justo{
    text-align: center;
}
h1{
    margin-top: 0px;
}
.del{
    margin-left: 50px;
}
button{
    width: 150px;
    height: 55px;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    margin-left: 0px;
}
.star{
    margin-left: -5px;
    color: gold;
    display: flex;
}
.orgar{
    margin-left: 80px;
}
.add2{
    width: 250px;
    height: 500px;
    margin-left: 50px;
    border: 1px solid grey;
}
.add3{
    width: 250px;
    height: 500px;
    margin-left: 50px;
    border: 1px solid grey;
}
.add4{
    width: 250px;
    height: 500px;
    margin-left: 50px;
    border: 1px solid grey;
}
.add5{
    width: 250px;
    height: 500px;
    margin-left: 50px;
    border: 1px solid grey;
}